@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.image-gallery-slide .image-gallery-image {
  width: fit-content;
  height: 50vh;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block !important;
  }
  .hamburger:hover {
    color: black;
  }
  .navbar-menu {
    display: none !important;
  }
  .navbar-menu.expanded {
    display: block !important;
    width: 100%;
    margin-left: 20%;
    line-height: 10vh;
    text-align: center;
  }
  .logoIcon {
    margin: 0 !important;
  }
}

.navbar-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  min-height: 15vh;
  margin-top: 5rem !important;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  background-color: #0081fe;
  bottom: 0 !important;
  left: 0;
  position: relative;
  right: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.footerText {
  font-family: "Josefin Sans", cursive;
  line-height: 30px !important;
  margin-top: 2% !important;
}

.divider {
  background-color: lightgray;
  margin-top: 13vh !important;
}
.socialIcon {
  border-radius: 50%;
  border: 1px solid white;
}

.socialIcon:hover {
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}
.btn:hover {
  background-color: #0081fe !important;
  color: white !important;
  border: 1px solid white !important;
}

.image-gallery {
  width: 100% !important;
}
.allCategoriesDiv {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.filters {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.jobCardImage {
  display: "flex" !important;
}

.jobHeaderText {
  font-size: 0.7vw !important;
}
.brk-btn {
  position: relative;
  background: none;
  color: white;
  text-decoration: none !important;
  border: 0.2em solid white;
  padding: 0.5em 1em !important;
}
.brk-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1976d2;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1976d2;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
  right: 80%;
}
.brk-btn:hover::after {
  left: 80%;
}
.link-active {
  position: relative;
  background: none;
  color: white;
  text-decoration: underline !important;
  border: 0.2em solid white;
  padding: 0.1em 1em;
}
.link-active::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1976d2;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.link-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1976d2;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
}
.link-active::before {
  right: 80%;
}
.link-active::after {
  left: 80%;
}

.bg-image {
  background-image: url("https://mdbcdn.b-cdn.net/img/new/fluid/city/113.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.mask {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
.headerTitle {
  margin-bottom: "5%";
}
#scrollToTop {
  position: fixed;
  left: 95%;
  bottom: 40px;
  height: 50px;
  width: 50px;
  z-index: 1;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-color: #343a40;
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}
svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}
svg #main-circ {
  transform-origin: 29.5px 29.5px;
}
#checkbox {
  display: none;
}
#checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}
#checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
#checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
#aboutUsContainer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-image: url("./Images/aboutUsImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#googleMap {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
